{% extends 'my_template.html.twig' %}

{% block title %}Nouvel article{% endblock %}
{% block menu %}
    <li class="nav-item">
    <a class="nav-link" href="{{ path('the_logout')}}">Déconnexion</a></li>
            {% endblock %}
{% block contenu %}
    <h1>Créez un nouvel article</h1>

    {{ include('articles/_form.html.twig') }}

    <a href="{{ path('articles_index') }}">Retour à l'admin des articles</a>
{% endblock %}
