{% extends 'my_template.html.twig' %}

{% block contenu %}
    <h1>Page non trouvée</h1>
    <h2>Oups ...</h2>
    <p>
        Votre requête est refusée ou votre page non trouvée <a href="{{ path('accueil') }}">Retour à l'accueil</a>.
    </p>
{% endblock %}